<h1>What are the dimensions of your package?</h1>
<form action = "/result">
  <div class = "form-group">
    <label for = 'length'>Enter the length of your package</label>
    <input id = 'length' name = 'length' class = 'form-control' type = 'String'>
  </div>
  <div class = "form-group">
    <label for = 'width'>Enter the width of your package</label>
    <input id = 'width' name = 'width' class = 'form-control' type = 'String'>
  </div>
  <div class = "form-group">
    <label for = 'height'>Enter the length of your package</label>
    <input id = 'height' name = 'height' class = 'form-control' type = 'String'>
  </div>
  <div class = "form-group">
    <label for = 'weight'>Enter the length of your package</label>
    <input id = 'weight' name = 'weight' class = 'form-control' type = 'String'>
  </div>
  <button type = 'submit' class = 'btm-success'>Submit</button>
</form>
