
<!DOCTYPE html>
<html>
<head>
  <title>Delivery Cost</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>
